<nav>
    <ul class="pager">
        {{#if next}}
            <li><a class="older-posts previous" href="{{page_url next}}">&larr; Older Posts</a></li>
        {{/if}}
        <li class="page-number">Page {{page}} of {{pages}}</li>
        {{#if prev}}
            <li><a class="newer-posts next" href="{{page_url prev}}">Newer Posts &rarr;</a></li>
        {{/if}}
    </ul>
</nav>