<nav>
    <ul class="pager">
        {{#if next}}
            <li><a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a></li>
        {{/if}}
        <li class="page-number">Page {{page}} of {{pages}}</li>
        {{#if prev}}
            <li><a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a></li>
        {{/if}}
    </ul>
</nav>