/* HEADER */

.blog-image {
    position: relative;
    width: 100%;
    height: 60vh;
    background: #fff no-repeat center center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 30px;
}


/* POST */

.post-image {

}


/* Masonry */

.grid-item {
  width: 100%;
  margin-bottom: 3%;
}
.gutter-sizer {
  width: 0;
}

@media (min-width: 768px) {
  .grid-item {
    width: 48.5%;
  }
  .gutter-sizer {
    width: 3%;
  }
}
@media (min-width: 992px) {
  .grid-item {
    width: 31.33333333333333%;
  }
  .gutter-sizer {
    width: 3%;
  }
}
@media (min-width: 1200px) {
  .grid-item {
    width: 22.75%;
  }
  .gutter-sizer {
    width: 3%;
  }
}
